@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      scroll-behavior: smooth;
      /* font-family: system-ui; */
      font-family: 'Alata', sans-serif;
    }
  }

  @layer utilities {

    .clip-your-needful-style {
         clip-path: polygon(0 0, 100% 0, 100% 102%, 0 calc(100% - 6vw)); 
    }
    .text-stroke-purple{
      text-shadow:
        -1px -1px 0 hsl(285, 90%, 46%),
        1px -1px 0 hsl(285, 90%, 46%),
        -1px 1px 0 hsl(285, 90%, 46%),
        1px 1px 0 hsl(285, 90%, 46%);
    }

    .gray-bg-card {
      @apply px-6 py-4 bg-gray-200  mx-2 rounded-md shadow-sm
    }
    
 
 }
  