@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    /* font-family: system-ui; */
   /* Fallback to system fonts while Alata loads */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
   'Helvetica Neue', Arial, sans-serif;
    @apply scroll-p-navbar-height  md:scroll-p-md-navbar-height;
  }
    /* Apply Alata once it's loaded */
    .fonts-loaded {
      font-family: 'Alata', -apple-system, BlinkMacSystemFont, 
                   'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    }
    
}
@layer components {
  .card {
    @apply w-[300px] h-[300px] flex justify-center items-center;
    
  }
}
@layer utilities {
  .clip-your-needful-style {
    clip-path: polygon(0 0, 100% 0, 100% 102%, 0 calc(100% - 6vw));
  }
  .text-stroke-purple {
    text-shadow:
      -1px -1px 0 hsl(285, 90%, 46%),
      1px -1px 0 hsl(285, 90%, 46%),
      -1px 1px 0 hsl(285, 90%, 46%),
      1px 1px 0 hsl(285, 90%, 46%);
  }

  .gray-bg-card {
    @apply px-6 py-4 bg-gray-200  mx-2 rounded-md shadow-sm;
  }
}

